// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.black-bg {
  background: black;
}

img.ml {
  max-height: 120px;
  height: 85px;
  width: auto;

  margin-top: 10px;
}
